body {
    background-color:black;
    color:gold;
}

.container {
    display:grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: auto auto auto auto auto auto
    padding:15px;
}


.Title {
    grid-column:span 2;
    text-align:center;
}

.Title img {
    height:350px;
    width:auto;
}

.donutContent {
    padding:10px;
    grid-column: span 1;
    margin:10px;
    border:2px solid;
    border-color: gold;
}

.orderContent {
    padding:10px;
    grid-column: span 1;
    grid-row: span 10;
    margin:10px;
    border:2px solid;
    border-color: gold;
}

.bagelContent {
    padding:10px;
    grid-column: span 1;
    margin:10px;
    border:2px solid;
    border-color: gold;
}