body {
    background-color:black;
    color:gold;
      font-family: "Uncial Antiqua", system-ui;
}

p { 
 font-family: "Cinzel", serif;
}

.everythingContainer {
    display:grid;
    grid-template-columns: auto auto;
}

.titleContainer {
    display: grid;
    grid-column: span 1;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    padding: 15px;
}


.Title {
    grid-column:span 2;
    text-align:center;
}

.Title img {
    height:350px;
    width:auto;
}

.donutsTitle {
    grid-column:span 2;
    padding-left:10px;
}

.bagelsTitle {
    grid-column:span 2;
    padding-left:10px;
}

.donutContent {
    display:grid;
    grid-template-columns:1fr 6fr 1fr;
    gap:10px;
    padding:10px;
    grid-column: 1;
    margin:10px;
    border-radius:5px;
    border:2px solid;
    border-color: gold;
}

.donutContent:hover {
border-color:#bd9204;
color:#dba904;
}

.bagelContent:hover{
border-color:#bd9204;
color:#dba904;
}

.donutImage img{
    width:200px;
    height:200px;
    text-align:left;
    border:2px solid;
    border-color:gold;
}

.bagelImage img{
    width:200px;
    height:200;
    text-align:left;
    border:2px solid;
    border-color:gold;
}

.orderContent {
    padding:10px;
    margin:10px;
    border:2px solid;
    border-color: gold;
    grid-column: 2;
    width:350px;
    border-radius:5px;
}

.bagelContent {
    display:grid;
    grid-template-columns:1fr 6fr 1fr;
    grid-template-rows: auto auto auto;
    gap:10px;
    padding:10px;
    grid-column: 1;
    margin:10px;
    border-radius:5px;
    border:2px solid;
    border-color: gold;
}

.button button {
    background-color:black;
    border:2px solid;
    border-color:gold;
    font-family:"Cinzel", serif;
    color:gold;
    border-radius:100px;
    width:60px;
    height:60px;
    font-size:40px;
}

.button button:hover {
    cursor:pointer;
    background-color:gold;
    border-color:gold;
    color:black;
}

.button {
    grid-column:span 1;
    grid-row:span 3;
    align-self:end;
    justify-self:right;
}

.completeOrderButton button {
    background-color:black;
    border:2px solid;
    border-color:gold;
    font-family:"Cinzel", serif;
    color:gold;
    border-radius:100px;
    width:150px;
    height:50px;
}

.completeOrderButton button:hover {
    cursor:pointer;
    background-color:gold;
    border-color:gold;
    color:black;
    font-family:"Cinzel", serif;
    border-radius:100px;
    width:150px;
    height:50px;
}

.popupContainer {
    visibility: hidden;
}

.popupContainer.add {
    visibility:visible;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background: black;
    color: gold;
    border: 2px solid gold;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

.popup input {
    width: 80%;
    padding: 8px;
}

.receiptContainer {
    visibility: hidden;
}

.receiptContainer.add p {
    font-family:Arial, Helvetica, sans-serif;
}

.receiptContainer.add {
    visibility:visible;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.receiptPopup {
    font-family:Arial, Helvetica, sans-serif;
    background: white;
    color: black;
    padding: 30px;
    border: 2px solid grey;
    width: 400px;
    text-align: left;
}

.receiptPopup input {
    width: 80%;
    padding: 8px;
}